*{
    margin: 0;
    padding: 0;
    font-size: 'Roboto',sans-serif;
}

.container{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pic7.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    height: 100vh;
    animation: change 10s infinite ease-in-out;
}

navbar{
    height: 75px;
    max-width: 1200px;
    color:#fff;
    display: flex;
    align-items: center;
    padding-top: 50px;
}


.logo{
    width:60px;
    height:60px;
    margin: 10px;
    
 }

nav{
    flex: 2;
    text-align: right;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    line-height: 80px;
    display: flex;
    margin: 0 5px;
    flex-direction: row;
    gap: 3rem;
    text-align: left;
}

 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(images/pic2.webp);
}
.card2{
    background-image: url(images/pic3.jpg);
}
.card3{
    background-image: url(images/pic12.jpg);
}
.card4{
    background-image: url(images/pic13.jpg);
}
.card:hover{
    transform: translateY(-10px);
}

@keyframes change{
    0%
    {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pic1.jpg);
    }
    20%
    {
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/pic8.jpg);
    }
    60%
    {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pic11.jpg);
    }
}

.wrapper{
    margin-top: 600px;
}

.wrapper h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.Home{
    display: flex;
    text-align: center;
    width: auto;
    justify-content:center ;
}

.Home.service{
          background: #fff;
          margin: 5px;
          margin-bottom: 50px;
          width: 300px;
          line-height: 20px;
          color: #000;
          position: relative;
}

.Home.service h3{
    color: #ce1b1b;
    font-size: 26px;
    margin-top: 50px;
}

.Home.service p{
    color: #ce1b1b;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
} 
