*{
    margin: 0;
    padding: 0;
    font-size: 'Roboto',sans-serif;
}

.container{
    width: 100%;
    background-color:lightslategray;
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    height: 100vh;
    animation: change 10s infinite ease-in-out;
}

.navbar{
    height: 75px;
    max-width: 1200px;
    color:#fff;
    display: flex;
    align-items: center;
    margin:auto;
}


.logo{
    width:40px;
    height:40px;
 }

.nav{
    flex: 2;
    text-align: right;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

.nav ul li{
    line-height: 80px;
    display: inline-block;
    margin: 0 5px;
}

.nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
.h1{
    color: #fff;
    font-size: 250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(images/pic2.webp);
}
.card2{
    background-image: url(images/pic3.jpg);
}
.card3{
    background-image: url(images/pic12.jpg);
}
.card4{
    background-image: url(images/pic13.jpg);
}
.card:hover{
    transform: translateY(-10px);
}

@keyframes change{
    0%
    {
        background-image: url(images/pic1.jpg);
    }
    20%
    {
        background-image: url(images/pic4.jpg);
    }
    60%
    {
        background-image: url(images/pic5.jpg);
    }
}